
  <div class='row'>
    <%= link_to 'Watch', hangout.hangout_url, class: 'btn btn-default' %>
    <div class='hidden-xs col-sm-2'><b>Host</b></div>
    <div class="col-xs-4 col-sm-1 hg-avatar">
      <%= render 'users/user_avatar', user: hangout.host %>
    </div>
    <div class='hidden-xs col-sm-2'><b>Participants</b></div>
    <div class='col-xs-12 col-sm-4 hg-avatar'>
      <% hangout.participants.each do |participant| %>
        <%= render 'users/user_avatar', user: participant %>
      <% end %>
    </div>
  </div>

